flows/Study Plan Customization.json
{
  "name": "Study Plan Customization",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bae2a3df-2f8c-4a17-9f1a-9dd167b8b644",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19311d9b-b0c8-49b5-8436-621da1edf27d",
              "name": "User_Skill_Level",
              "value": "Intermediate",
              "type": "string"
            },
            {
              "id": "79efeeba-5196-4bbf-a04a-c4001edd3646",
              "name": "Goal",
              "value": "Learn C++",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "8d05c335-74b6-406b-875a-5f5b7e619ffd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        480,
        368
      ],
      "id": "278b423e-e644-4019-9e1b-4d84685a5efa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "dPVtWNag8RVFMt11",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a teacher guiding a student and giving a proper study plan for his student, you are given  {{ $json.User_Skill_Level }} and {{ $json.Goal }} of the student, decide the learning path for the student and decide what path should the student follow-\n\nOutput ONLY-\n • beginner_path\n • advanced_path ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        16
      ],
      "id": "22b840b3-3499-492b-99c6-868dad3f62a9",
      "name": "POA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "• beginner_path",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d2444208-c3e7-487f-a359-5068b07ec0ea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5e3c9800-ef5a-4cf4-adf8-55be0fca1005",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "• advanced_path",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        16
      ],
      "id": "7c7eb4c5-d6ca-4ebf-ae64-5de27fa1c1f5",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a teacher who is guiding his students to study and reach his goals, you ought to make a learning plan according to  {{ $('POA').item.json.text }} and his end goal is {{ $('Edit Fields').item.json.Goal }}, device a plan of action accordingly for the student and give the output in following format- \nCustomized roadmap.\nReasoning Type: Classification\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1024,
        -208
      ],
      "id": "8556ce58-6e5b-4436-943c-4733a301a793",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1584,
        -416
      ],
      "id": "f0d04670-99c4-4c0b-a43e-6cdc54cfe0f3",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "dPVtWNag8RVFMt11",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a teacher who is guiding his students to study and reach his goals, you ought to make a learning plan according to  {{ $('POA').item.json.text }} and his end goal is {{ $('Edit Fields').item.json.Goal }}, device a plan of action accordingly for the student and give the output in following format- \nCustomized roadmap.\nReasoning Type: Classification\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1008,
        208
      ],
      "id": "e1bed946-6e6b-4533-a090-1698fbbd9571",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1568,
        512
      ],
      "id": "8cb9af3e-5e92-4218-a0f7-d37edc2e2d30",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "dPVtWNag8RVFMt11",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b933171c-c209-48d6-a4f2-b114de5bcd27",
              "name": "Plan Of Action",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        0
      ],
      "id": "733af773-87bd-4f0a-af4e-b7c763106394",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        0
      ],
      "id": "df56f564-bdcb-4263-8492-ad7a23fd9c99",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11KdBNn_S8VIE6mi9GkO--vWVCw0LpRu5JpUMtogBZxE",
          "mode": "list",
          "cachedResultName": "abcde",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11KdBNn_S8VIE6mi9GkO--vWVCw0LpRu5JpUMtogBZxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11KdBNn_S8VIE6mi9GkO--vWVCw0LpRu5JpUMtogBZxE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Plan Of Action": "={{ $json[\"Plan Of Action\"] }}",
            "myNewField": "={{ $json.myNewField }}"
          },
          "matchingColumns": [
            "Plan Of Action"
          ],
          "schema": [
            {
              "id": "Plan Of Action",
              "displayName": "Plan Of Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "myNewField",
              "displayName": "myNewField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        176
      ],
      "id": "232f9aa3-9c9f-48bb-94eb-f152d1dcadc7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ABlJEFFMQz0rWIP8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "abhinav.tekron@gmail.com",
        "subject": "POA",
        "emailType": "text",
        "message": "={{ $json[\"Plan Of Action\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2144,
        -144
      ],
      "id": "41b0aae2-8eaa-4c68-9c20-befead6238fe",
      "name": "Send a message",
      "webhookId": "a9ae33ea-4e49-4ecd-bd1b-529e1b07f181",
      "credentials": {
        "gmailOAuth2": {
          "id": "TcqVoDlaifnJdZiI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "POA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "POA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "POA": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1cf04b0b-e264-45c3-97f6-68b357db16c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3936c8e4e15381341d02e69d700d4316b47b4c9fb543d64692acc5d332a2146f"
  },
  "id": "sB2gEF3yI21VueH4",
  "tags": []
}